<div  class="main_content">
    <div  class="section">
        <div  class="container">
            <div  class="row">
                <div  class="col-12">
                    <div  class="table-responsive shop_cart_table">
                        <table  class="table">
                            <thead >
                                <tr >
                                    <th  class="product-thumbnail">&nbsp;</th>
                                    <th  class="product-name">Product</th>
                                    <th  class="product-price">Price</th>
                                    <th  class="product-quantity">Quantity</th>
                                    <th  class="product-subtotal">Total</th>
                                    <th  class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr >
                                    <td  class="product-thumbnail"><a
                                            ><img  width="50"
                                                alt="product1"
                                                src="../../../assets/images/t-shirt-jj3.webp"></a>
                                    </td>
                                    <td  data-title="Product" class="product-name"><a
                                            >t-shirt jujutsu</a></td>
                                    <td  data-title="Price" class="product-price">19.90</td>
                                    <td  data-title="Quantity" class="product-quantity">
                                        <div  class="quantity"><input
                                                 type="button" value="-"
                                                class="minus"><input  type="text"
                                                name="quantity" title="Qty" size="4" class="qty"><input
                                                 type="button" value="+" class="plus"></div>
                                    </td>
                                    <td  data-title="Total" class="product-subtotal">
                                        167,37&nbsp;€ </td>
                                    <td  data-title="Remove" class="product-remove"><a
                                             href="#"><i
                                                class="ti-close"></i></a></td>
                                </tr>
                                <tr >
                                    <td  class="product-thumbnail"><a
                                            ><img  width="50"
                                                alt="product1"
                                                src="../../../assets/images/Sweat_jaune_dbz.webp"></a>
                                    </td>
                                    <td  data-title="Product" class="product-name"><a
                                            >sweat dragon ball Z</a></td>
                                    <td  data-title="Price" class="product-price">69.90</td>
                                    <td  data-title="Quantity" class="product-quantity">
                                        <div  class="quantity"><input
                                                 type="button" value="-"
                                                class="minus"><input  type="text"
                                                name="quantity" title="Qty" size="4" class="qty"><input
                                                 type="button" value="+" class="plus"></div>
                                    </td>
                                    <td  data-title="Total" class="product-subtotal">
                                        44,54&nbsp;€ </td>
                                    <td  data-title="Remove" class="product-remove"><a
                                             href="#"><i
                                                class="ti-close"></i></a></td>
                                </tr>
                                <tr >
                                    <td  class="product-thumbnail"><a
                                            ><img  width="50"
                                                alt="product1"
                                                src="../../../assets/images/t-shirt-my-hero2.webp"></a>
                                    </td>
                                    <td  data-title="Product" class="product-name"><a
                                            >t-shirt my hero academia</a></td>
                                    <td  data-title="Price" class="product-price">19.90</td>
                                    <td  data-title="Quantity" class="product-quantity">
                                        <div  class="quantity"><input
                                                 type="button" value="-"
                                                class="minus"><input  type="text"
                                                name="quantity" title="Qty" size="4" class="qty"><input
                                                 type="button" value="+" class="plus"></div>
                                    </td>
                                    <td  data-title="Total" class="product-subtotal">
                                        51,51&nbsp;€ </td>
                                    <td  data-title="Remove" class="product-remove"><a
                                             href="#"><i
                                                class="ti-close"></i></a></td>
                                </tr>
                                <tr >
                                    <td  class="product-thumbnail"><a
                                            ><img  width="50"
                                                alt="product1"
                                                src="../../../assets/images/t-shirt-jjsu.webp"></a>
                                    </td>
                                    <td  data-title="Product" class="product-name"><a
                                            >t-shirt jujutsu</a></td>
                                    <td  data-title="Price" class="product-price">19.90</td>
                                    <td  data-title="Quantity" class="product-quantity">
                                        <div  class="quantity"><input
                                                 type="button" value="-"
                                                class="minus"><input  type="text"
                                                name="quantity" title="Qty" size="4" class="qty"><input
                                                 type="button" value="+" class="plus"></div>
                                    </td>
                                    <td  data-title="Total" class="product-subtotal">
                                        56,48&nbsp;€ </td>
                                    <td  data-title="Remove" class="product-remove"><a
                                             href="#"><i
                                                class="ti-close"></i></a></td>
                                </tr>
                                <tr >
                                    <td  class="product-thumbnail"><a
                                            ><img  width="50"
                                                alt="product1"
                                                src="../../../assets/images/sweat-dbz2.webp"></a>
                                    </td>
                                    <td  data-title="Product" class="product-name"><a
                                            >sweat dragon ball Z</a></td>
                                    <td  data-title="Price" class="product-price">69.90</td>
                                    <td  data-title="Quantity" class="product-quantity">
                                        <div  class="quantity"><input
                                                 type="button" value="-"
                                                class="minus"><input  type="text"
                                                name="quantity" title="Qty" size="4" class="qty"><input
                                                 type="button" value="+" class="plus"></div>
                                    </td>
                                    <td  data-title="Total" class="product-subtotal">
                                        112,14&nbsp;€ </td>
                                    <td  data-title="Remove" class="product-remove"><a
                                             href="#"><i
                                                class="ti-close"></i></a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div  class="row">
                <div  class="col-12">
                    <div  class="medium_divider"></div>
                    <div  class="divider center_icon"><i
                            class="ti-shopping-cart-full"></i></div>
                    <div  class="medium_divider"></div>
                </div>
            </div>
            <div  class="row">
                <div  class="col-md-6"></div>
                <div  class="col-md-6">
                    <div  class="border p-3 p-md-4">
                        <div  class="heading_s1 mb-3">
                            <h6 >Cart Totals</h6>
                        </div>
                        <div  class="table-responsive">
                            <table  class="table">
                                <tbody >
                                    <tr >
                                        <td  class="cart_total_label">Cart Subtotal</td>
                                        <td  class="cart_total_amount">606,99&nbsp;€</td>
                                    </tr>
                                    <tr >
                                        <td  class="cart_total_label">Shipping</td>
                                        <td  class="cart_total_amount">Free Shipping</td>
                                    </tr>
                                    <tr >
                                        <td  class="cart_total_label">Total</td>
                                        <td  class="cart_total_amount"><strong
                                                >606,99&nbsp;€</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><a  routerlink="/checkout" class="btn btn-fill-out"
                            ng-reflect-router-link="/checkout" href="/checkout">Proceed To CheckOut</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
