<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <a class="navbar-brand" routerLink="" ><img src="../../../assets/images/logoAnguzon.png" alt="logo Anguzon"></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="list-product">Tous les articles
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToCategory('t-shirt')">T-Shirts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="navigateToCategory('sweat')">Sweats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="navigateToCategory('accessoire')">Accessoires</a>
        </li>
      </ul>

      <li class="dropdown cart_dropdown">
        <a  routerLink="cart" data-bs-toggle="dropdown" class="nav-link cart_trigger">
          <i class="fi fi-rs-basket-shopping-simple"></i>
          <div class="quantite-badge">{{cart?.quantity}}</div>
        </a>
        <div class="cart_box dropdown-menu">
          <ul class="cart_list">
            <li>
              <a href="#" class="item_remove">
                <i class="ion-close"></i>
              </a>
              <a href="#">
                <img width="50" height="50" alt="cart_thumb1" src="#">Culotte en dentelle
              </a>
              <span class="cart_quantity">{{cart?.quantity}} x
                <span class="cart_amount">
                  <span class="price_symbole">23,91&nbsp;€
                  </span>
                </span>
              </span>
            </li>
          </ul>
        </div>
      </li>

    </div>
  </div>
</nav>

        <!--<a routerLink="cart" class="cart-icon mx-5">
          <i class="fi fi-rs-basket-shopping-simple"></i>
           <div class="quantite-badge" style="position: absolute; top: 0; right: 0;">{{cart?.quantity}}</div>


      <li class="dropdown cart_dropdown">
        <a routerLink="cart" class="cart mx-5">
          <i class="fi fi-rs-basket-shopping-simple"></i>
          <div class="quantite-badge" style="position: absolute; top: 0; right: 0;">{{cart?.quantity}}</div>
        </a>
        <div class="cart_box dropdown-menu dropdown-menu-left">
          <ul class="cart_list">
            <li *ngFor="let article of cart?.articles">
              <a href="#" class="item_remove">
                <i class="ion-close"></i>
              </a>
              <a href="#">
                <img width="50" height="50" alt="cart_thumb1" src="../../../assets/images/logoAnguzon.png" >{{article?.product?.name}}
              </a>
              <span class="cart_quantity"> {{article?.quantity}} x
                <span class="cart_amount">
                  <span class="price_symbole">{{cart?.total | formatPrice: article?.product}}</span>
                </span>
              </span>
            </li>
          </ul>
        </a>-->
