<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <a class="navbar-brand" routerLink="home" ><img src="../../../assets/images/logoAnguzon.png" alt="logo Anguzon"></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="list-product">Tous les articles
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="['/', 'category','category?.slug']">T-Shirts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="sweat">Sweats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="accessoire">Accessoires</a>
        </li>
      </ul>
        <a routerLink="cart" class="cart-icon mx-5">
          <i class="fi fi-rs-basket-shopping-simple"></i>
           <div class="quantite-badge" style="position: absolute; top: 0; right: 0;">5</div>
        </a>
    </div>
  </div>
</nav>
