<div class="container" (click)="handleClickProduct(product)" data-bs-toggle="modal" [attr.data-bs-target]="product ? '#modal' + product.id : null">
  <div class="row pt-2 ">
    <div class="col-dm-4">
      <div class="card mb-3">
        <img [src]="product ? product.imageUrl[0] : ''" class="card-img-top" [alt]="product?.name">
        <div class="card-body">
          <p class="card-title">{{ product?.name}}</p>
          <p>categorie : {{product?.category}}</p>
          <h4 class="text-end">{{ (product?.price || 0 ) | currency :'EUR':'symbol':'1.2-2' }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
