<a [routerLink] = "['/list-product/product', product?.slug]">
<div class="container" (click)="handleClickProduct(product)" >
  <div class=" row ">
    <div class="col-dm-2">
      <div class="card mb-2">
      <div class="d-flex">
        <img [src]="product?.imageUrl | formatImageUrl " class="card-img-top" [alt]="product?.name">
      </div>
        <div class="card-body">
          <p class="card-title">{{ product?.name}}</p>
          <p>categorie : {{product?.category}}</p>
          <h4 class="text-end">{{ (product?.price || 0 ) | currency :'EUR':'symbol':'1.2-2' }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</a>

