<!--<div class="container">
	<div class="row">
		<div class="col-6">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="d-flex flex-column justify-content-between align-items-center w-50">
					<img src="{{product?.imageUrl}}" class="my-3" alt="">
				</div>
				<div class="d-flex flex-column p-4 position-static w-50">
					<div class="my-2">
						<h5 class="mb-0">{{ product?.name?.substring(0.40) }}</h5>
					</div>
					 <div class="row" *ngIf="product && product.size">
						<div class="col-md-4">
							<label for="inputState" class="form-label">Taille</label>
						</div>
						<div class="col">
							<select id="inputState" class="form-select">
								<option selected>Choisir la taille</option>
								<option *ngFor="let size of product.size">{{size}}</option>
							</select>
						</div>
					</div>
					<div class="row  ">
						<h4>{{ (product?.price || 0)/100 }}0€</h4>
						 <button class="btn btn-primary justify-content-center">ajouter au panier<i class="fi fi-rr-shopping-bag m-3" ></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->
