<div class="container">
  <h2>Caractéristiques Techniques</h2>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <th scope="row">Matériel</th>
        <td>100% Coton biologique</td>
      </tr>
      <tr>
        <th scope="row">Couleur</th>
        <td>Blanc avec motif soleil jaune</td>
      </tr>
      <tr>
        <th scope="row">Tailles disponibles</th>
        <td>S, M, L, XL, XXL</td>
      </tr>
      <tr>
        <th scope="row">Poids</th>
        <td>180g</td>
      </tr>
      <tr>
        <th scope="row">Type de col</th>
        <td>Col rond</td>
      </tr>
      <tr>
        <th scope="row">Longueur des manches</th>
        <td>Manches courtes</td>
      </tr>
      <tr>
        <th scope="row">Type de motif</th>
        <td>Imprimé</td>
      </tr>
      <tr>
        <th scope="row">Entretien</th>
        <td>Lavable en machine à 30°C</td>
      </tr>
    </tbody>
  </table>
</div>


