.list-product {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

img {
  border: solid 1px rgb(192, 190, 190);
}

.emptyPage{
  font-size: 30px;
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}
