<div class="list-product">
	<app-loader *ngIf="isLoading"></app-loader>

		<app-product-item *ngFor="let product of products" [product]="product" (deleteProductItem)="handleDeleteProduct($event)" (displayProductView)="handleDisplayProductView($event)"></app-product-item>
	
	<app-modal-product [product]="selectedProduct"></app-modal-product>
	<h2 class="emptyPage" *ngIf="isLoading && !products.length">
		<div class="nofound text-center">
			404
		</div>
		Aucun article n'est disponible sur cette page
	</h2>
	<app-modal-product *ngIf="isDisplayProductView"></app-modal-product>
</div>

